.skills_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 16px;
    padding: 8px;
}

.skill_item_container {
    width: 96px;
    height: 96px;
}

.skills-JS {
    background: url("../images/icons/icons8-javascript-48.svg") no-repeat;
}

@media screen and (max-width: 600px) {
    .skills_container {
        flex-direction: column;
    }

    .skill_item_container {
        width: 160px;
        height: 160px;
    }
}
